

.main_container{
	display:flex;
	justify-content:center
	
}
.sec_container{
	margin:35px;
	width:80%;
	height:150px;
	border: 1px solid black;
	border-radius:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:30px;
	flex-direction: column;
}
.sec_bar{
	width:80%;
	height:20px;
	background-color:gray;
	border-radius:5px;
	margin:10px;
	display:flex;
	overflow:hidden;
	
}
.primary_bar{
	background-color:green;
	height:50px;
	width:25%;
	
}
.secondary_bar{
	background-color:#48dbfb;
	height:22px;
	width:50%;
	
}
.success_bar{
	background-color:#feca57;
	height:22px;
	width:75%;
	
}
.danger_bar{
	background-color:#c23616;
	height:22px;
	width:100%;
	
}